[submodule "src/FAST-LIVO2"]
	path = src/FAST-LIVO2
	url = git@github.com:A4paper2003/custom-fast-livo2.git
[submodule "src/rpg_vikit"]
	path = src/rpg_vikit
	url = https://github.com/A4paper2003/custom-rpg-vikit
